.admin {
  flex: 1 1 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tasks {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
