.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .sorting {
    .sortingTitle {
      font-size: 20px;
      font-style: italic;
    }

    select {
      margin: 5px 5px 0;
    }
  }

  .btnContainer {
    max-width: 140px;
    width: 100%;
  }
}
